:root {
  --speed: 2s;
}

html {
  background: #eee;
}

.container {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	margin: 0;
	padding: 0;
  min-height: 100vh;
	width: 100%;
	overflow: auto;
	position: relative;
}

.weather-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 0;
  border-radius: 12px;
  aspect-ratio: 9 / 16;
  height: auto;
  position: relative;
  background: transparent;
  transition: background-color var(--speed) ease;
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 2px solid var(--chakra-colors-red-400); */
}

@media (min-width: 1024px) {
  .weather-card {
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
  .weather-card {
    max-width: 768px;
  }
}

@media (min-width: 576px) {
  .weather-card {
    width: 480px;
  }
}
