:root {
  --speed: 2s;
  --scrollbar-track-bg: #e0e0e0;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.24);
  --scrollbar-thumb_hover-bg: #718096;
}

html {
  background: #eee;
}

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb_hover-bg);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
	margin: 0;
	padding: 0;
  min-height: 100vh;
	width: 100%;
	position: relative;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  border-radius: 12px;
  aspect-ratio: 9 / 16;
  height: auto;
  position: relative;
  background: transparent;
  transition: background-color var(--speed) ease;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .weather-card {
    max-width: 1024px;
  }
}

@media (min-width: 768px) {
  .weather-card {
    max-width: 768px;
  }
}

@media (min-width: 576px) {
  .weather-card {
    width: 480px;
  }
}

.section-heading {
  font-size: 1.2em !important;
  padding-bottom: 0.5em;
  text-align: left;
  width: 90%;
}

.section-list {
  font-size: .9em !important;
  font-weight: 600;
  width: 100%;
}

.section-list-item {
  border-bottom: 1px solid;
  border-color: var(--chakra-colors-blackAlpha-300);
  justify-content: space-between;
  width: 90%;
  padding-bottom: .25rem;
  padding-top: .25rem;
}

.emoji-font {
  font-family: 'flag-emojis-polyfill', sans-serif !important;
}